In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("houses_to_rent_2.csv")

In [10]:
df.head(10)

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421
4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836
5,São Paulo,376,3,3,7,-,acept,not furnished,0,8000,834,121,8955
6,Rio de Janeiro,72,2,1,0,7,acept,not furnished,740,1900,85,25,2750
7,São Paulo,213,4,4,4,4,acept,not furnished,2254,3223,1735,41,7253
8,São Paulo,152,2,2,1,3,acept,furnished,1000,15000,250,191,16440
9,Rio de Janeiro,35,1,1,0,2,acept,furnished,590,2300,35,30,2955

In [11]:
df.loc[df['floor'] == '-', 'floor'] = 0
df['floor'] = df['floor'].astype('int64')

df['Hassoc_tax'] = df['hoa (R$)']

df['rent'] = df['rent amount (R$)']

df['prop_tax'] = df['property tax (R$)']

df['fire_insur'] = df['fire insurance (R$)']

In [12]:
df.head(10)

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$),Hassoc_tax,rent,prop_tax,fire_insur
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618,2065,3300,211,42
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973,1200,4960,1750,63
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841,1000,2800,0,41
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421,270,1112,22,17
4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836,0,800,25,11
5,São Paulo,376,3,3,7,0,acept,not furnished,0,8000,834,121,8955,0,8000,834,121
6,Rio de Janeiro,72,2,1,0,7,acept,not furnished,740,1900,85,25,2750,740,1900,85,25
7,São Paulo,213,4,4,4,4,acept,not furnished,2254,3223,1735,41,7253,2254,3223,1735,41
8,São Paulo,152,2,2,1,3,acept,furnished,1000,15000,250,191,16440,1000,15000,250,191
9,Rio de Janeiro,35,1,1,0,2,acept,furnished,590,2300,35,30,2955,590,2300,35,30

In [13]:
df.columns

Index(['city', 'area', 'rooms', 'bathroom', 'parking spaces', 'floor',
       'animal', 'furniture', 'hoa (R$)', 'rent amount (R$)',
       'property tax (R$)', 'fire insurance (R$)', 'total (R$)', 'Hassoc_tax',
       'rent', 'prop_tax', 'fire_insur'],
      dtype='object')

In [14]:
df_out = df[['city', 'area', 'rooms', 'bathroom', 'parking spaces', 'floor', 'animal', 'furniture', 'Hassoc_tax', 'rent', 'prop_tax', 'fire_insur']]

In [15]:
df_out.head(10)

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,Hassoc_tax,rent,prop_tax,fire_insur
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17
4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11
5,São Paulo,376,3,3,7,0,acept,not furnished,0,8000,834,121
6,Rio de Janeiro,72,2,1,0,7,acept,not furnished,740,1900,85,25
7,São Paulo,213,4,4,4,4,acept,not furnished,2254,3223,1735,41
8,São Paulo,152,2,2,1,3,acept,furnished,1000,15000,250,191
9,Rio de Janeiro,35,1,1,0,2,acept,furnished,590,2300,35,30

In [16]:
print(df_out['animal'].unique())
print(df_out.furniture.unique())

['acept' 'not acept']
['furnished' 'not furnished']

In [17]:
df_out.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10692 entries, 0 to 10691
Data columns (total 12 columns):
city              10692 non-null object
area              10692 non-null int64
rooms             10692 non-null int64
bathroom          10692 non-null int64
parking spaces    10692 non-null int64
floor             10692 non-null int64
animal            10692 non-null object
furniture         10692 non-null object
Hassoc_tax        10692 non-null int64
rent              10692 non-null int64
prop_tax          10692 non-null int64
fire_insur        10692 non-null int64
dtypes: int64(9), object(3)
memory usage: 1002.5+ KB

In [19]:
df_out.to_csv("houses_to_rent_v2.csv",index=False)